<ion-view view-title="Home">


  <ion-nav-buttons side="primary">
      <a href="#/tab/home">
        <button type="button" ng-controller="LogoutCtrl" ng-click="logOut()" class="button icon ion-android-exit button-HOME"></button>
      </a>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <a href="#/tab/myIssues">
      <button type="button" class="button icon ion-star button-favory">My Issues</button>
    </a>
  </ion-nav-buttons>


  <div class="bar bar-header">
    <button class="button button-icon icon ion-navicon"></button>
  <div class="h1 title">Header Buttons</div>
    <button class="button button-clear button-positive">Edit</button>
  </div>


   <!-- bouton HOME -->
  <ion-content class="home-content">

  <div class="row row-boutton">
    <div class="col btn">
      <a href="#/tab/newIssue"> 
        <button class="button button_1 ">
            <img src="img/Reporter_CreateIssue.png"/>
             <p>Create Issue</p>
        </button>
      </a>
    </div>
    <div class="col btn">
      <a href="#/tab/searchIssues"> 
        <button class="button button_1 ">
            <img src="img/Reporter_search.png"/>
             <p>Search Issue</p>
        </button>
      </a>
    </div>
  </div>

  <div class="row row-boutton2">
    <div class="col btn">
      <a href="#/tab/issueList"> 
        <button class="button button_1 ">
            <img src="img/Reporter_AllIssues.png"/>
             <p>All Issue</p>
        </button>
      </a>
    </div>
    <div class="col btn">
      <a href="#/tab/myIssues"> 
        <button class="button button_1 ">
            <img src="img/Reporter_MyIssue.png"/>
             <p>My Issue</p>
        </button>
      </a>
    </div>
  </div>


  </ion-content>


<!--
  <ion-content class="home-content">
   
    <a href="#/tab/newIssue"
       class="item item-thumbnail-left"> 
      <div class="btn1"> 
        <button class="button button_1 ">
          <img src="img/Reporter_CreateIssue.png"/>
        </button>
        <li> 
          <p>Create Issue</p>
        </li>
      </div>
    </a>

    <a href="#/tab/searchIssues"
       class="item item-thumbnail-left"> 
      <div class="btn2"> 
        <button class="button">
          <img src="img/Reporter_search.png"/>
          <li> 
            <p>Search Issue</p>
          </li>
        </button>
      </div>
    </a>

    <a href="#/tab/myIssues"
       class="item item-thumbnail-right"> 
      <div class="btn3"> 
        <button class="button">
          <img src="img/Reporter_MyIssue.png"/>
          <li> 
            <p>My Issue</p>
          </li>
        </button>
      </div>
    </a>

    <a href="#/tab/issueList"
       class="item item-thumbnail-left"> 
      <div class="btn4"> 
        <button class="button">
          <img src="img/Reporter_AllIssues.png"/>
          <li> 
            <p>All Issue</p>
          </li>
        </button>
      </div>
    </a>


  </ion-content>
-->
    
</ion-view>