<ion-view view-title="IssueList">
   
   <!-- Bouton header-->
  <ion-nav-buttons side="primary">
      <a href="#/tab/home">
        <button type="button" class="button icon ion-home button-HOME"></button>
      </a>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <a href="#/tab/myIssues">
      <button type="button" class="button icon ion-star button-favory">My Issues</button>
    </a>
  </ion-nav-buttons>


 <ion-content ng-controller="IssuesCtrl">

    <!-- Test "multiple search" field -->
    <ui-select multiple ng-model="selectedIssueTypes" ng-disabled="ctrl.disabled" sortable="true" close-on-select="false">
    <ui-select-match placeholder="Select issue type...">{{$item.name}}</ui-select-match>
    <ui-select-choices repeat="type in issueTypes">
      <div ng-bind-html="type.name | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>

    

    <!-- Affichage de deux boutons pour VISUAL LIST/MAP -->
    <div ng-controller="AppCtrl" scroll="false">
      <div class=" button-bar bouton-issueList">
        <button class="button button-light button-android" ng-class="{ 'button\-positive': demo == 'ios' }" ng-click="setPlatform('ios')">
          Visual List
        </button>
        <button class="button button-light button-android" ng-class="{ 'button\-positive': demo == 'ionic' }" ng-click="setPlatform('ionic')">
          Visual Map
        </button>
      </div>

    <!-- Trie par Auteur ascendant / descendant et par Date -->
      <ul class="list">  
        trier ascendant / descandant
        <li class="item item-toggle">
        Author : 
          <label class="toggle toggle-assertive">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-toggle">
        Date
          <label class="toggle toggle-assertive">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
      </ul>

    <!-- search button -->
    <button type="button"class="button col button-positive" ng-click="filterIssues()">
        Search
      </button>

    <!-- Recuperation des données -->
    <a class=" css-AllIssues">
 
        <a ng-repeat="issue in issues" 
           href="#/tab/issueDetails/{{issue.id}}"
           class="item item-thumbnail-left">

          <img ng-src="{{ issue.imageUrl }}">
          <h2>{{ issue.issueType.name }}</h2>
          <p>{{ issue.issueType.description }}</p>
          <h5>créer par :{{ issue.owner.name }}</h5>
          <h5>{{ issue.createdOn | date:'dd-MM-yyyy'}}</h5>
          <button class="button icon-right button-calm buttonIssueList">
              <h4>Status</h4>
              <p>{{ issue.state }}<p>
          </button>
          
          <!-- bouton visible que lors staff pour editer le status -->
          <!--<div class="item" ng-model="isStaff" ng-init="isStaff=false">
            <button class="button button-positive" ng-if="isStaff">edit</button>
            <p>{{ issue.edit }}<p> 
          </div>
        -->
 
        </a>
      </a>

    <!--Methode de rafraichissement de la page  -->  
    <ion-refresher on-refresh="doRefresh()">              
    </ion-refresher>

  </ion-content>
</ion-view>