<ion-view >
  <ion-content class="padding">

  <div class="list card login-item">

    <!-- A short welcome message. -->
    <div class="item item-avatar">
      <h2>Welcome to Reporter App !</h2>
      <p>A Citizen Engagement</p>
    </div>

    <div class="item item-body">
      <!-- A banner. Choose an image and save it as www/img/banner.jpg -->
      <img class="full-image" src="img/logo2.jpg" >

      <p>
        Reporter est une application mobile de citoyen engagé. L'accès à cette application se fait via un nouveau login ou un compte déjà existant. Si vous avez déjà créer un compte remplissez simplement dans ces champs vos données pour vous connecter. 
      </p>

    </div>

    <form name="loginForm">

          <!-- Ionic uses lists to group related input elements. -->
          <div class="list">
            <label class="item item-input">
              <!-- Note the required="required" attribute used for validation. -->
              <input type="text" placeholder="First Name" ng-model="user.firstname" required="required"/>
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Last Name" ng-model="user.lastname" required="required"/>
            </label>
          </div>

          <!-- Display an error message here, above the submit button, if an error occurred. -->
          <p ng-if="error" class="error">{{ error }}</p>

          <!--
            The submit button.
            The "ng-click" directive indicates which scope function to call when the form is submitted.
            The "ng-disabled" directive is used to disable the button if the form is invalid (i.e. the first name or last name is missing).
          -->
          <button class="button button-full button-positive" ng-click="register()" ng-disabled="loginForm.$invalid">Register</button>
        </form>
  </div>

  
  </div>
  </ion-content>
</ion-view>