<ion-view view-title="New Issue">

  <ion-nav-buttons side="primary">
      <a href="#/tab/home">
        <button type="button" class="button icon ion-home button-HOME"></button>
      </a>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <a href="#/tab/myIssues">
      <button type="button" class="button icon ion-star button-favory">My Issues</button>
    </a>
  </ion-nav-buttons>

  <ion-content ng-controller="MyIssuesCtrl" scroll="false">
  
  <div class="issue-map">
    <leaflet defaults="mapDefaults" center="mapCenter" markers="mapMarkers" height="100%" data-tap-disabled="true"></leaflet>
  </div>
    
    <a ng-repeat="issue in issues" 
           href="#/tab/issueDetails/{{issue.id}}"
           class="item item-thumbnail-left css-myIssues">

          <img ng-src="{{ issue.imageUrl }}">
          <h2>{{ issue.issueType.name }}</h2>
          <p>{{ issue.issueType.description }}</p>
          <h5>{{ issue.owner.name }}</h5>
          <h5>{{ issue.createdOn }}</h5>
        </a>

    
  </ion-content>
</ion-view>