<ion-view view-title="New Issue">

  <ion-nav-buttons side="primary">
      <a href="#/tab/home">
        <button type="button" class="button icon ion-home button-HOME"></button>
      </a>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <a href="#/tab/myIssues">
      <button type="button" class="button icon ion-star button-favory">My Issues</button>
    </a>
  </ion-nav-buttons>

  <ion-content ng-controller="MyIssuesCtrl">

    <!--Ajout TYPE -->
     <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Selectionner le type
        </div>
        <select>
          <option>TYPE1</option>
          <option selected>TYPE2</option>
          <option>TYPE3</option>
        </select>
      </label>
  </div>
  
  <!-- Test "multiple search" field -->
   <!--  <ui-select multiple ng-controller="IssuesCtrl" ng-model="selectedIssueTypes" ng-disabled="ctrl.disabled" sortable="true" close-on-select="false">
    <ui-select-match placeholder="Select issue type...">{{$item.name}}</ui-select-match>
    <ui-select-choices repeat="type in issueTypes">
      <div ng-bind-html="type.name | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select> -->
    
    <!--Ajout IMAGE -->
    <div class="item">
      <form method="post" action="reception.php" enctype="multipart/form-data">
        <label for="mon_fichier">UPLOADER IMG (max. 1 Mo) :</label><br />
        <input type="file" name="mon_fichier" id="mon_fichier" /><br />
      </form>
    </div>

    <!--Ajout Description -->
    <div class="item new-description-issue">
       <p>
        Descritpion : blalbalbla{{ issue.description }}
      </p>
    </div>

    <!--Ajout MAP -->
    <div class="item issue-map">
      ICI s'affiche normalement la map
      <leaflet defaults="mapDefaults" center="mapCenter" markers="mapMarkers" height="100%" data-tap-disabled="true"></leaflet>
    </div>

     <!-- SEARCH CREATE -->
    <button type="button" class="button-positive" ng-click="filterIssues()"><h6>CREATE ISSUE</h6></button>

  </ion-content>
</ion-view>