<ion-view view-title="New Issue">

  <ion-nav-buttons side="primary">

      <a href="#/tab/home">
        <button type="button" class="button icon ion-home button-HOME"></button>
      </a>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <a href="#/tab/myIssues">
      <button type="button" class="button icon ion-star button-favory"><h5>My Issues</h5></button>
      <!--
      <div class="h3 title">Header Buttons</div>
      <button class="button button-clear button-positive button-My-Issue">MyIssues</button>
    -->
    </a>
  </ion-nav-buttons>

<!--

 


  <div class="h1 title">Header Buttons</div>
  <button class="button button-clear button-positive">Edit</button>


-->

  <ion-content>
    <p>Hello! This is the issue creation screen.</p>
    
  </ion-content>
</ion-view>