<ion-view view-title="Search Issues">
   
  <!-- BOUTON NAVIGATION -->
  <ion-nav-buttons side="primary">
      <a href="#/tab/home">
        <button type="button" class="button icon ion-home button-HOME"></button>
      </a>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <a href="#/tab/myIssues">
      <button type="button" class="button icon ion-star button-favory">My Issues</button>
    </a>
  </ion-nav-buttons>

  <!-- CONTENT -->
  <ion-content ng-controller="SearchCtrl">

  <!-- Raduis range -->
  <div class="map-search">
    s'affiche ici les infos pour la recherche map
    <div class="item range">
      raduis in KM
      <input type="range" name="volume">
    </div>

    <!-- Affichage de la map -->
     <div class="item map-issue">
      ici s'affiche la map
       <p>
        <leaflet defaults="mapDefaults" center="mapCenter" markers="mapMarkers" height="100%" data-tap-disabled="true"></leaflet>
      </p>
    </div>
  </div>

  <div class="list-search">
    s'affiche ici les infos pour la recherche list

    <ion-list>
      <ion-checkbox ng-model="filter.blue">Tag</ion-checkbox>
      <ion-checkbox ng-model="filter.yellow">lampe</ion-checkbox>
      <ion-checkbox ng-model="filter.pink">broken street</ion-checkbox>
    </ion-list>

    <!--recherche d'auteur -->
    <label class="item item-input">par auteur
      <input type="text" placeholder="author" ng-model="issueType.id" required="required"/>
    </label>

    <!--recherche de date -->
    <label class="item item-input">par date
      <input type="text" placeholder="date" ng-model="issueType.id" required="required"/>
    </label>

    <!--choix du TYPE -->
     <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Selectionner l'état
        </div>
        <select>
          <option>en cours</option>
          <option selected>assign</option>
          <option>knowledge</option>
        </select>
      </label>
    </div>

    <!-- bouton visible pour staff pour recherche par "Assign to me" ou "NotAssign"-->
    <div class="item" ng-model="isStaff" ng-init="isStaff=true">
      <ion-list ng-if="isStaff">
        <ion-checkbox ng-model="filter.blue">Assign to me</ion-checkbox>
        <ion-checkbox ng-model="filter.pink">NotAssign</ion-checkbox>
      </ion-list>
    </div>

  </div>
  
    <!-- Test "search" button -->
    <button type="button" class="button-positive" ng-click="filterIssues()"><h6>Search</h6></button>

  </ion-content>
</ion-view>