<ion-view view-title="Search Issues">
   
   <!-- Bouton sur le header-->
  <ion-nav-buttons side="primary">
      <a href="#/tab/home">
        <button type="button" class="button icon ion-home button-HOME"></button>
      </a>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <a href="#/tab/myIssues">
      <button type="button" class="button icon ion-star button-favory">My Issues</button>
    </a>
  </ion-nav-buttons>


  <ion-content ng-controller="SearchCtrl">
  <p> hello</p>

  <!-- Test "search" button -->
    <label class="item item-input">
      <input type="text" placeholder="Issue Type" ng-model="issueType.id" required="required"/>
    </label>
    <button type="button" class="button-positive" ng-click="filterIssues()"><h6>Search</h6></button>
    
    <a class="list">
 
        <a ng-repeat="issue in issues" 
           href="#/tab/issueDetails/{{issue.id}}"
           class="item item-thumbnail-left css-AllIssues">

          <img ng-src="{{ issue.imageUrl }}">
          <h2>{{ issue.issueType.name }}</h2>
          <p>{{ issue.issueType.description }}</p>
          <h5>{{ issue.owner.name }}</h5>
          <h5>{{ issue.createdOn }}</h5>
          <button class="button button-positive">
              <h4>Status</h4>
              <p>{{ issue.state }}<p>
          </button>
        </a>
      </a>

  </ion-content>
</ion-view>