/* Empty. Add your own CSS if you like */



.css-myIssues h4 {
	margin: 3% 4% 1% 4%;
}
.button-favory{
	font-size: 1.5em;
}
/* Bouton HEADER */ 

/* Page LOGIN */ 
.login-item .item-body p{
	text-align: center;
}


/* Page HOME */ 


.home-content{
	margin-top: 0%;
	/*text-align: center;*/
	display: inline;
	list-style-type :none;
}
.button_1{
	background-color: white;
}

/*
.btn {
	float:right;
	width: 70%;
	margin-top:10%;
	margin-left:0%;
}
*/

.btn img{
	margin-left: 15%;
	padding-left: 0%;
	padding-right: 0%;
	width: 65%;
}
.row-boutton{
	margin-top: 30%;
	margin-bottom: 15%;
}

.home-content p {
	margin-top: -10%;
	font-size: 0.9em;
	margin-left: 15%;
}

/* Page NEW ISSUE */ 
.issue-map{
	padding-top: 80%;
}

/* ISSUE LIST*/ 
.bouton-issueList button{
	padding: 5px;
}
.item-toggle .toggle{
	right: 120px;
}
.buttonIssueList {
	line-height: 18px;
	right:-60%;
	margin-top: -60px;
}
.buttonIssueList p{
	font-size: 0.75em;
}
.buttonIssueList h4{
	font-size: 0.9em;
}


/* MY ISSUE LIST*/ 
.buttonMyIssue{
	line-height: 18px;
	right:-60%;
	margin-top: -60px;
}
.buttonMyIssue p{
	font-size: 0.75em;
}
.buttonMyIssue h4{
	font-size: 0.9em;
}



/* Issue Detail*/ 
.img-issueDetail{
	width: 45%;
	float: right;
	margin-top: -10%;
}
.author-date-assign {
		margin-top: 5%;
}
.description-issue p{
	white-space: normal;

}
.issue-map-detail{
	padding-top: 20%;
}
.



/* tutorial*/ 
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

#logo {
  margin: 30px 0px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.button.ng-hide{
  display:none;
}
